<div class= "container" style="max-height: 100vh;">
  <h1 style="color:white;">Your payment has been confirmed</h1>
  <br>
  <i class="far fa-check-circle" id="tick"></i>
  <h2 style="color:white;">The food is being prepared and will be with you soon.</h2>
  <br>
  <p>PACY</p>
</div>

