<div class= "container" style="max-height: 100vh;">
  <h1 style="color:white;">Your payment has been confirmed</h1>
  <br>
  <i class="far fa-check-circle" id="tick"></i>
  <h2 style="color:white;">Thank you for using <strong><i>Pacy</i></strong></h2>
  <br>
</div>

