<div class="pan-loader" data-redirect="<%= payment_confirmation_basket_url(@basket) %>">
  <div class="loader"></div>
  <div class="pan-container">
    <div class="pan"></div>
    <div class="handle"></div>
  </div>
  <div class="shadow"></div>
</div>
