// Specific CSS for your home-page
html,
body {
  margin: 0;
  height: 100%;
}
body {
  min-height: 100%;
  background: linear-gradient(198.22deg, #EF9B4A 9.67%, rgba(239, 155, 74, 0.86) 36.55%, rgba(239, 114, 74, 0.86) 60.48%, #EF7149 90.28%, #EF724A 90.29%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}


.wrapper{
  display: grid inline-block;
  grid-gap: 2rem;
  justify-content: center;
  text-align: center !important;
  align-items: center;
  padding-top: 200px;


  h1{
    padding-bottom: 50px;
    color: #fdf5ec;
    font-size: 75px;
  }

}


.all-btn-home {
  color: #fdf5ec;
  background: linear-gradient(180.82deg, #9498EF 24.73%, #B379E0 99.29%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  text-decoration: none;
}

.all-btn-home:hover {
  color: #fdf5ec !important;
  text-decoration: none;
}


.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  transform: translate(-14px, -328px);
  filter: url(#shadowed-goo);
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.menu-item, .menu-open-button {
  background: linear-gradient(180.82deg, #9498EF 24.73%, #B379E0 99.29%);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: #fdf5ec;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

}

.hamburger {
  width: 25px;
  height: 3px;
  background: #fdf5ec;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}


.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  transform: translate3d(114.42548px, 11.48084px, 0);
  align-items: center
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  transform: translate3d(-114.40705px, 11.66307px, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  transform: translate3d(-77.04956px, 85.37192px, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(0.09158px, 114.99996px, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  transform: translate3d(77.18543px, 85.2491px, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.fa-plus:before {
  content: "\f067";
}

.fa-gear:before, .fa-cog:before {
  content: "\f013";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-heart:before {
   content: "\f004";
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "\f080";
}



.map-design {
  height: 30vh;
  width: 50vw;
  border-radius: 4px;
  margin-bottom: 10px;

  .mapboxgl-ctrl-top-right {
    top: 0;
    left: 0;
    right: 0;

    .mapboxgl-ctrl {
      margin: 0 !important;
    }
  }
}
