@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.card-product {
  overflow: hidden;
  height: 120px;
  background: #fdf5ec;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 34px;
  width: 82vw;
  height: 13vh;
  font-family: 'Quicksand', sans-serif;
}

.card-meal-img {
  object-fit: contain;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 0px;
}

.card-product h4 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  color:  #0d0905;
  font-family: 'Quicksand', sans-serif;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  color: #aea7a1;
  font-family: 'Quicksand', sans-serif;
}

.card-product .card-product-infos {
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Quicksand', sans-serif;
}

.cards {
  border-radius: 34px 34px 0px 0px;
  position: absolute;
  left: 0%;
  right: -0.27%;
  min-height: 100%;
  background: linear-gradient(198.22deg, #EF9B4A 9.67%, #EF9B4A 36.55%, rgba(239, 114, 74, 0.86) 60.48%, #EF7149 90.28%, #EF724A 90.29%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1 {
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  h2 {
    color: #fdf5ec;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: #C05D3D;
    width: 82vw;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
}

.meals {
  background: url(https://s03.s3c.es/imag/_v0/770x420/a/0/9/taj-mahal-2.jpg);
  object-fit: center;
  background-size: contain;
  width: 100vw;
  height: 281px;
}

.btn-basket {
  background: linear-gradient(180.82deg, #9498EF 24.73%, #B379E0 99.29%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-left: 125px;
  margin-right: 115px;
  position: fixed;
  bottom: 20px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.all-btn {
  background: linear-gradient(180.82deg, #9498EF 24.73%, #B379E0 99.29%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.btn .add-btn {
  margin-left: 30px;
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.product-number {
  border: 1px solid;
  border-radius: 40%;
  font-family: 'Quicksand', sans-serif;
}

.btn-minus {
  background: linear-gradient(180deg, #FFB547 0%, #F4752D 86.46%);
  padding: 0px 8px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  transition: opacity 0.3s ease;
  a {
    text-decoration: none;
  }
}

.all-btn-modal-index {
  color: white;
  background: linear-gradient(180deg, #FFB547 0%, #F4752D 86.46%);
  border: 1px solid;
  border-color: linear-gradient(180deg, #FFB547 0%, #F4752D 86.46%);
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  transform: translate(-145px, 50px);
  text-decoration: none;
}

#button1 , #button2 {
display:inline-block;
}


label.float  {
  color:  #0d0905;
}

.modal-content {
  border-radius: 20px;
}
