// Import page-specific CSS files here.
@import "home";
@import "indexmeals";
@import "showbasket";
@import "paymentconfirmation";
@import "signup";
@import "login";
@import "modal";
@import "qr_code";

