.card-product {
  overflow: hidden;
  height: 120px;
  background: #fdf5ec;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 34px;
  width: 82vw;
  height: 13vh;
}

.card-meal-img {
  object-fit: contain;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 0px;
}

.card-product h4 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  color: #29262B;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  color: #29262B;
}

.card-product .card-product-infos {
  padding-left: 20px;
  padding-top: 10px;
}

.cards {
  border-radius: 34px 34px 0px 0px;
  position: absolute;
  left: 0%;
  right: -0.27%;
  min-height: 100%;
  background: linear-gradient(198.22deg, #EF9B4A 9.67%, #EF9B4A 36.55%, rgba(239, 114, 74, 0.86) 60.48%, #EF7149 90.28%, #EF724A 90.29%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1 {
    padding-top: 20px;
  }
  h2 {
    color: #fdf5ec;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: #BA8D7F;
    width: 82vw;
    text-align: center;
  }
}

.meals {
  background: url(https://s03.s3c.es/imag/_v0/770x420/a/0/9/taj-mahal-2.jpg);
  object-fit: center;
  background-size: contain;
  width: 100vw;
  height: 281px;
}

.btn-basket {
  background: #9B9FFF;
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-left: 125px;
  margin-right: 115px;
  position: fixed;
  bottom: 20px;
}

.all-btn {
  background: #9B9FFF;
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn .add-btn {
  margin-left: 30px;
  margin-top: 5px;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.product-number {
  border: 1px solid;
  border-radius: 40%;
}

.btn-minus {
  text-decoration: none;
  background: #9B9FFF;
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 0px 8px;
  border-radius: 10px;
  font-size: 15px;
  transition: opacity 0.3s ease;
}
