.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 24px;
  padding: 20px;
}

.card-meal-img {
  object-fit: contain;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
}

.card-product h6 {
  color: #F0A956;
  font-size: 10px;
  margin: 0px;
}


.card-product .card-product-infos {
  padding: 16px;
}

.card-product .add-btn {
  background-color: #EC7D5A;
  text-align: center;
  border-radius: 5px;
  margin-left: 150px;
  color: white;
  margin-bottom: 20px;

  a {
     color: white;
     text-decoration: none;
  }
}

.cards {
  border-radius: 44px 44px 0px 0px;
  position: absolute;
  left: 0%;
  right: -0.27%;
  min-height: 100%;
  background: linear-gradient(198.22deg, #EF9B4A 9.67%, #EF9B4A 36.55%, rgba(239, 114, 74, 0.86) 60.48%, #EF7149 90.28%, #EF724A 90.29%);
}

.meals {
  background: url(http://www.mandysam.com/img/random.jpg);
  object-fit: center;
  background-size: contain;
  width: 100vw;
  height: 281px;
}

.basket-footer {
  text-align: center;

}
