@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.my-container {
  margin: 0px auto;
  width: 90vw;
}

.header-login{
  text-align: center;
  color: white;
  margin-top: 45px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}


.all-btn-login {
  color: white;
  background: #9B9FFF;
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;

}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.signup-btn {
  color: white;
  background: linear-gradient(180.82deg, #9498EF 24.73%, #B379E0 99.29%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.forget-btn {
  color: white;
  background: linear-gradient(180.82deg, #9498EF 24.73%, #B379E0 99.29%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #8B8FE5;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.linkstyle {
  margin-top: 20px;
  text-align: center;
  width: 90vw;
  font-family: 'Quicksand', sans-serif;
}
