.map-design {
  height: 88vh;
  width: 100vw;
  border-radius: 4px;
  margin-bottom: 10px;

  .mapboxgl-ctrl-top-right {
    top: 0;
    left: 0;
    right: 0;

    .mapboxgl-ctrl {
      margin: 0 !important;
    }
  }
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}


form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
