@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.all-btn-modal {
  color: #fdf5ec;
  background: linear-gradient(180deg, #FFB547 0%, #F4752D 86.46%);
  border: 1px solid;
  border: none;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

// .all-btn-modal :hover {
//   hover: none;
// }
