.container {
font-color: #fdf5ec;
  h1 {
    margin-top: 100px;
    text-align: center;
    font-color: #fdf5ec;
  }

  h2 {
    margin-top: 40px;
    text-align: center;
    font-color: #fdf5ec;
  }
  p {
  font-size: 100px;
  text-align: center;
  color: #fdf5ec;
  }
}

#tick {
  margin-top: 20px;
  font-size: 150px;
  display: flex;
  justify-content: center;
  color: lightgreen;
}
