.qr-codescaning  h2{
  color: #fdf5ec;
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-weight: strong;
  margin-bottom: 100px;
  margin-top: 40px;
}

#video {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100vw;
  margin-bottom: 50px;
  margin-top: 30px;
}

#result{
  margin-top: 20px;
}

// .qr-codescaning {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
