h1 {
  color: #fdf5ec;
  display: flex;
  justify-content: center;
  align-item: center;
  margin-top: 10px;
}
 select#user {
  display: flex;
  justify-content: center;
  align-item: center;
 }

.all-btn-modal-share {
  color: #fdf5ec;
  background: linear-gradient(180.82deg, #9498EF 24.73%, rgba(179, 121, 224, 0.76) 99.29%);
  border: none;
  padding: 8px 40px;
  border-radius: 10px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #fdf5ec;
  }

}

.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}

// .users{
// }
.container_share {
    display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  color: #fdf5ec;
  padding: 0px 30px;
  margin-top: 50px;
}
