<h1>Share</h1>

<%= form_with url: share_with_basket_basket_meals_url([@basket, @basket_meal]) do |form| %>
  <%= select_tag "user", options_from_collection_for_select(@users, "id", "first_name") %>
  <%= hidden_field_tag :meal_id, params[:meal_id] %>
  <%= submit_tag "Share" %>
<% end %>
