<div>
<button class="btn backbtn"><%= link_to "<", root_path(), "data-turbolinks": false%></button>
</div>
<div class="qr-codescaning" style="text-align: center;">
  <h2><strong>SCAN QR HERE</strong></h2>
  <div id="qr-code-reader">
    <video id="video" ><!-- width="500" height="400" --></video>
  </div>

  <label style="text-align: center;" class="mb-0">Result:</label>
  <pre><code id="result"></code></pre>
</div>
