<button class="btn backbtn"><%= link_to "<", root_path()%></button>
<div class="header-qr">
<h2>QR Code Reader Demo</h2>
</div>

<div id="qr-code-reader">
  <video id="video"></video>
</div>

<label>Result:</label>
<pre><code id="result"></code></pre>
