<div class="meals">
   <br>
    <br>
    <br>
    <br>
    <br>
  <div class="cards">
    <h1 class="text-center" style="font-size: 50px; color: white;">Restaurant</h1>
    <%  @meals.each do |meal|%>
      <%= render("meal_card",{meal: meal, basket: @current_basket}) %>
    <% end  %>
    <div class="basket-footer">
      <p><%= link_to "Go to Basket", basket_path(@current_basket) %></p>
      <br>
      <br>
    </div>
  </div>
</div>
