<h1>Restaurant Menu</h1>
<%  @meals.each do |meal|%>
 <%= meal.name %> - <%= meal.price %> -
 <%= meal.description %> <%= link_to "+Add", table_baskets_path(table_id: @table_id), method: :post %>
<% end  %>

