<div class="meals">
  <h1 style="font-size: 50px; text-align: center; color: white;">Restaurant</h1>
  <h2 style="font-size: 45px; text-align: center; color: white;">Menu</h2>
  <div class="cards">
    <%  @meals.each do |meal|%>
      <%= render("meal_card",{meal: meal, basket: @current_basket}) %>
    <% end  %>
    <div class="basket-footer">
      <p><%= link_to "Go to Basket",basket_path(@current_basket) %></p>
      <br>
      <br>
    </div>
  </div>
</div>
