<div class="text-center">
  <h1>The Taj</h1>
  <h4> Table Number <%= @table.number %></h4>
</div>

<div class="qr-code">
  <div id="logo"><strong><i>Pacy</i></strong></div>
  <%= @svg.html_safe %>
</div>
